@page "/"
@using Doctor.DTOs
@using Doctor.Pages.Auth
@using Doctor.Services
@inject AuthenticationStateProvider AuthProvider
@inject HttpClient Http
@inject AuthenticationStateProvider LoginService
@inject NavigationManager navMgr

<link href="css/Login.css" rel="stylesheet" />

<div class="login-wrapper">
    <div class="login-box">
        <h3>Doctor Login</h3>
        <AuthorizeView>
            <NotAuthorized>
                <div class="input-container">
                    <p>Enter your ID:</p>
                    <input @bind="id" placeholder="Enter your ID" class="input-field" />
                    <p>Enter your Password:</p>
                    <input @bind="password" type="password" placeholder="Enter your password" class="input-field" />
                </div>

                @if (!string.IsNullOrEmpty(responseMessage))
                {
                <p class="error-message">Server Response: @responseMessage</p>
                }
                <button @onclick="LoginDoctor" class="login-btn">Login</button>
            </NotAuthorized>
            <Authorized>
                <h3>Logged in! :)</h3>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private string id;
    private string password;
    private string responseMessage;

    private async Task LoginDoctor()
    {
        if (string.IsNullOrWhiteSpace(id) || string.IsNullOrWhiteSpace(password))
        {
            responseMessage = "Both ID and Password are required";
            return;
        }

        try
        {
            await ((SimpleAuthProvider)LoginService).Login(id, password);
            navMgr.NavigateTo("/");
            
        }
        catch (Exception e)
        {
            Console.WriteLine($"Inner Error: {e.InnerException.Message}");
            responseMessage = $"Login failed: {e.Message} ";
        }
    }

}