
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Patient.csproj.nuget.dgspec.json
Patient/Patient/obj/project.assets.json
Patient/Patient/obj/project.nuget.cache
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/rider.project.restore.info
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Patient.csproj.nuget.dgspec.json
Patient/Patient/obj/project.assets.json
Patient/Patient/obj/project.nuget.cache
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/rider.project.restore.info
