
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Patient.csproj.nuget.dgspec.json
Patient/Patient/obj/project.assets.json
Patient/Patient/obj/project.nuget.cache
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/rider.project.restore.info
Patient/Patient/obj/Debug/net8.0/Patient.GeneratedMSBuildEditorConfig.editorconfig
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
Patient/Patient/obj/Debug/net8.0/Patient.assets.cache
Patient/Patient/obj/Patient.csproj.nuget.dgspec.json
Patient/Patient/obj/project.assets.json
Patient/Patient/obj/project.nuget.cache
Patient/Patient/obj/project.packagespec.json
Patient/Patient/obj/rider.project.restore.info
Patient/Patient/bin/Debug/net8.0/Patient.dll
Patient/Patient/bin/Debug/net8.0/Patient.pdb
Patient/Patient/bin/Debug/net8.0/Patient.staticwebassets.runtime.json
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/blazor.boot.json.gz
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/Patient.pdb
Patient/Patient/obj/Debug/net8.0/webcil/Patient.wasm
Patient/Patient/obj/Debug/net8.0/tmp-webcil/Patient.wasm
Patient/Patient/obj/Debug/net8.0/staticwebassets/msbuild.Patient.Microsoft.AspNetCore.StaticWebAssets.props
Patient/Patient/obj/Debug/net8.0/staticwebassets.pack.json
Patient/Patient/obj/Debug/net8.0/staticwebassets.development.json
Patient/Patient/obj/Debug/net8.0/staticwebassets.build.json
Patient/Patient/obj/Debug/net8.0/refint/Patient.dll
Patient/Patient/obj/Debug/net8.0/ref/Patient.dll
Patient/Patient/obj/Debug/net8.0/Patient.sourcelink.json
Patient/Patient/obj/Debug/net8.0/Patient.pdb
Patient/Patient/obj/Debug/net8.0/Patient.dll
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/Patient.pdb.gz
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/Patient.wasm
Patient/Patient/bin/Debug/net8.0/wwwroot/_framework/Patient.wasm.gz
Patient/Patient/obj/Debug/net8.0/blazor.boot.json
Patient/Patient/obj/Debug/net8.0/compressed/abo9kl8ai0.gz
Patient/Patient/obj/Debug/net8.0/compressed/cj60eayf98.gz
Patient/Patient/obj/Debug/net8.0/compressed/fveyapdap7.gz
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfo.cs
Patient/Patient/obj/Debug/net8.0/Patient.AssemblyInfoInputs.cache
