@page "/BookingPage"
@using Microsoft.VisualBasic
@inject HttpClient Http
<h3>BookingPage</h3>

<p>Press the button to make booking</p>
<button @onclick="MakeBooking">book</button>

@if (!string.IsNullOrEmpty(serverResponse))
{
    <p>@serverResponse</p>
}
@code {
    private string DateAndTime;
    private string serverResponse;

    private async Task MakeBooking()
    {
        DateAndTime = DateTime.Now.ToString();
        try
        {
            
            string request =  $"http://localhost:8081/api/BookingPage/book?dateAndTime={DateAndTime}";
            serverResponse = await Http.GetStringAsync(request);
        }
        catch (Exception e)
        {
            serverResponse = $"Error: {e.Message}";
            Console.WriteLine(e);
            
        }
    }
}