@page "/Login"
@inject HttpClient Http
@using System.Text.Json
@using PatientFinal.DTOs

<h3>Login</h3>

<input placeholder="CPR-Number" @bind="cprno"></input>
<input placeholder="Password" @bind="passwordinput"></input>


@if (!string.IsNullOrEmpty(serverResponse))
{
    <p>@serverResponse</p>
}

<button @onclick="LoginPatient">Login</button>

@code {
    private string cprno;
    private string passwordinput;
    private string serverResponse;
    private bool isLoading;

    private async Task LoginPatient()
    {
        if (string.IsNullOrWhiteSpace(cprno) || string.IsNullOrWhiteSpace(passwordinput))
        {
            serverResponse = "Both CPR and Password are required";
            return;
        }

        try
        {
            var loginDto = new { password = passwordinput, cpr = cprno };

            HttpResponseMessage responseMessage = await Http.PostAsJsonAsync(
                "http://localhost:8081/Demo/login", loginDto);

            if (responseMessage.IsSuccessStatusCode)
            {
                serverResponse = await responseMessage.Content.ReadAsStringAsync();
            }
            else
            {
                serverResponse = "PUla";
            }
        }
        catch (Exception e)
        {
            serverResponse = $"Loggin failed: {e.Message}";
        }
    }

}