@page "/Login"
@inject HttpClient Http
@inject ILoginService LoginService
@using System.Text.Json
@using PatientFinal.DTOs
@using PatientFinal.Services

<h3>Login</h3>

<input placeholder="CPR-Number" @bind="cprno"></input>
<input placeholder="Password" @bind="passwordinput"></input>


@if (!string.IsNullOrEmpty(serverResponse))
{
    <p>@serverResponse</p>
}

<button @onclick="LoginPatient">Login</button>

@code {
    private string cprno;
    private string passwordinput;
    private string serverResponse;
    private bool isLoading;

    private async Task LoginPatient()
    {
        if (string.IsNullOrWhiteSpace(cprno) || string.IsNullOrWhiteSpace(passwordinput))
        {
            serverResponse = "Both CPR and Password are required";
            return;
        }

        try
        {
            var loginDto = new LoginDto() { password = passwordinput, cpr = cprno };

            var response = await LoginService.LoginPatient(loginDto);
            // HttpResponseMessage responseMessage = await Http.PostAsJsonAsync(
            //     "http://localhost:8081/Demo/login", loginDto);

            serverResponse = response.response != null ? response.response : "pula";
          
        }
        catch (Exception e)
        {
            serverResponse = $"Loggin failed: {e.Message}";
        }
    }

}