@page "/"
@inject HttpClient Http
@inject AuthenticationStateProvider LoginService
@inject NavigationManager navMgr
@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@using PatientFinal.Auth
@using PatientFinal.DTOs
@using PatientFinal.Services

<h3>Login</h3>
<AuthorizeView>
    <NotAuthorized>
<input placeholder="CPR-Number" @bind="cprno"></input>
<input placeholder="Password" type="password" @bind="passwordinput"></input>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@if (!string.IsNullOrEmpty(serverResponse))
{
    <p>@serverResponse</p>
}

<button @onclick="LoginPatient">Login</button>

@code {
    private string cprno;
    private string passwordinput;
    private string serverResponse;
    private bool isLoading;

    private async Task LoginPatient()
    {
        if (string.IsNullOrWhiteSpace(cprno) || string.IsNullOrWhiteSpace(passwordinput))
        {
            serverResponse = "Both CPR and Password are required";
            return;
        }

        try
        {
            await ((SimpleAuthProvider)LoginService).Login(cprno, passwordinput);
            navMgr.NavigateTo("/");

        }
        catch (Exception e)
        {
            serverResponse = $"Loggin failed: {e.Message}";
        }
    }

}